 body {
      font-family: Arial, sans-serif;
      direction: rtl;
      text-align: center;
      background: #f2f2f2;
     
    }
    h2 { margin-bottom: 20px; }
    .search-container {
      display: inline-flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 6px;
      background: #fff;
      max-width: 400px;
      width: 100%;
    }
    input {
      padding: 10px;
      flex: 1;
      border: none;
      outline: none;
      font-size: 16px;
      text-align: center;
    }
    .clear-btn {
      background: #eee;
      border: none;
      padding: 0 12px;
      cursor: pointer;
      font-size: 18px;
    }
    #result { margin-top: 20px; display: none; }
    .student {
      background: #fff;
      padding: 12px;
      border: 1px solid #ccc;
      margin: 8px auto;
      border-radius: 8px;
   
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      text-align: right;
    }
    .name {color: #0056b3; font-size: 18px;}
    .num {color: #b50c0c; font-size: 18px;}
    .deger { color: #0b8d2a; font-weight: bold; }
    .pdf-btn {
      margin-top: 10px;
      padding: 6px 12px;
      background: #0056b3;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .pdf-btn:hover { background: #004099; }


